<p id="notice"><%= notice %></p>

<h1>All Cocktails</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
